[submodule "website-backend"]
	path = website-backend
	url = https://github.com/GabriewF/Website-Backend.git
[submodule "website-frontend"]
	path = website-frontend
	url = https://github.com/GabriewF/Website-Frontend.git
